html, body{
  box-sizing: border-box;
  overflow: hidden;
  background: hsl(185, 41%, 84%);
}

.tit-splitter{
  display: inline-block;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card{
  height: calc(47% - 70px);
  width: calc(64% - 70px);
  background: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 35px;
  border-radius: 20px;
}

.preenchimento, .resultado{
  width: calc(50% - 25px);
}
/*-----------------------*/
.preenchimento{
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-container{
  display: flex;
  justify-content: space-between;
  padding: 14px 12px;
  /* background: purple; */
}

.tit-conta{
  margin-top: 1em;
}

.conta-input{
  text-align: right;
  background: none;
  border: none;
}

.conta-input:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.conta{

}

.tip{

}

.porcentagens{
  display: grid;
  grid-template-columns: 33.3%  33.3% 33.3%;
  grid-template-rows: 1fr 1fr;
  /* grid-gap: 15px; */
  grid-g
}

.bt-porcento, .tb-custom{
  padding: 10px 0;
  font-size: 1.1em;
  margin: 7.5px;
}

.bt-porcento:nth-child(1), .bt-porcento:nth-child(4){
  margin-left: 0;
}

.bt-porcento:nth-child(3), .tb-custom{
  margin-right: 0;
}

.bt-porcento{
  border: none;
  border-radius: 4px;
  background: hsl(183, 100%, 15%);
}

.num-pessoas{

}

/*-----------------------*/
.resultado{
  background: hsl(183, 100%, 15%);
  width: calc(50% - 105px);
  padding: 40px;
  border-radius: 20px;
  position: relative;
}

.valor-pagar{
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.span-preco{
  font-size: 40px;
}

.bt-reset{
  position: absolute;
  bottom: 40px;
  width: calc(100% - 80px);
  padding: 8px 0;
  background: #26c2ad;
  border: none;
  border-radius: 5px;
  opacity: 0.2;
}

footer{
  width: 100%;
  margin-bottom: 1%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
